Error-Technologies-Assignment-main-master/n8n-workflow.json
{
  "name": "Lead Generation Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-capture",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"email\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Validate Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "noreply@leadgenpro.com",
        "toEmail": "sales@leadgenpro.com",
        "subject": "New Lead: {{$json[\"name\"]}} from {{$json[\"company\"]}}",
        "text": "=A new lead has been submitted:\n\nName: {{$json[\"name\"]}}\nEmail: {{$json[\"email\"]}}\nCompany: {{$json[\"company\"]}}\nMessage: {{$json[\"message\"]}}\n\nPlease follow up with this lead as soon as possible.",
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        650,
        200
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Leads",
        "columns": [
          {
            "column": "Timestamp",
            "value": "={{$now.toISOString()}}"
          },
          {
            "column": "Name",
            "value": "={{$json[\"name\"]}}"
          },
          {
            "column": "Email",
            "value": "={{$json[\"email\"]}}"
          },
          {
            "column": "Company",
            "value": "={{$json[\"company\"]}}"
          },
          {
            "column": "Message",
            "value": "={{$json[\"message\"]}}"
          }
        ],
        "options": {}
      },
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        650,
        400
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Data": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}